@media (max-width:971px){
    .navigation{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }       
        .naviagtion_home{
            border: 2px solid white;
        }

        .navigation .btn{
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            color: white;
            height: 100%;
            width: 18%;
            cursor: pointer;
            border-radius: 2px;
        }
}