@media (max-width: 676px) and (orientation:portrait) {
  body {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    background-color: black;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    transition: 0.4s ease-in-out;
  }

  .header_title {
    font-size: 36px;
    color: white;
  }

  .navigation {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .naviagtion_home {
    border: 2px solid white;
  }

  .navigation .btn {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
  }

  .btn:hover {
    border-bottom: 2px solid white !important;
  }

  .container {
    width: 100%;
    height: 75%;
  }

  .content {
    height: 100%;
    width: 100%;
  }

  .container_block{
    color: rgb(51, 51, 53);
    position: relative;
    transform: translateX(-200%);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 7px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    transition: 0.2s ease-in-out;
  }

  .Home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    justify-content: space-around;
    padding: 20px;
    background: none;
  }

  .Home p {
    text-align: justify;
    margin-bottom: 20px;
  }
  .download_cv {
    vertical-align: bottom;
    margin: 0 auto;
    width: 110px;
    height: 35px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid white;
    margin-top: 10px;
  }

  .Home img {
    width: 70%;
  }

  .download_cv:hover {
    color: rgb(255, 255, 255, 0.5);
  }

  .download_cv:active {
    background-color: white;
    color: black;
  }

  .Education {
    top: -100%;
  }

  .Experiance {
    top: -200%;
    overflow-x: scroll;
  }

  .Skills {
    overflow-y: scroll;
    top: -300%;
  }
  .block_title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .container_block_subtitletitle {
    margin: 10px 0;
  }

  .container_block__items {
    margin-bottom: 10px;
  }

  .container_block__item {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    padding: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(51, 51, 53);
  }

  .container_block__item span {
    margin-left: 10px;
  }

  .container_block__item img {
    height: 100%;
  }

  .Contacts {
    overflow-y: scroll;
    overflow-x: hidden;
    top: -400%;
  }

  a.container_block__item:hover{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
  }

  a.container_block__item:active{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 676px) and (orientation:landscape){
  body {
    padding: 3%;
    font-family: "Roboto", sans-serif;
    background-color: black;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13%;
    margin-bottom: 30px;
  }

  .header_title {
    font-size: 32px;
    color: white;
  }

  .header_subtitle {
    font-size: 22px;
    color: white;
    margin-bottom: 40px;
  }

  .navigation {
    margin-bottom: 50px;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .naviagtion_home {
    border: 2px solid white;
  }

  .navigation .btn {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    height: 14%;
    width: 100%;
    cursor: pointer;
    border-radius: 2px;
  }

  .btn:hover {
    border-left: 2px solid white !important;
  }

  .container {
    height: 75%;
    width: 100%;
    display: flex;
  }

  .content {
    height: 100%;
    width: 75%;
    margin-left: 5%;
  }

  .container_block{
    color: rgb(51, 51, 53);
    position: relative;
    transform: translateX(-200%);
    transition: 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    transition: 0.2s ease-in-out;
    overflow-y: scroll;
  }

  .Home {
    color: white;
    display: flex;
    background: none;
    transform: translateX(0%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
  }

  .Home img{
    height: 50%;
  }
  .download_cv{
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid white;
    margin-top: 10px;
  }

  .download_cv:hover {
    color: rgb(255, 255, 255, 0.5);
  }

  .download_cv:active {
    background-color: white;
    color: black;
  }

  .Education {
    top: -100%;
  }

  .Experiance {
    top: -200%;
  }

  .Skills {
    top: -300%;
    padding: 15px;
  }
  
  .block_title {
    margin-bottom: 15px;
  }

  .container_block_subtitletitle {
    margin: 15px 0;
    font-size: 20px;
  }

  .container_block__item {
    display: flex;
    align-items: center;
    height: 65px;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(51, 51, 53);
    width: fit-content;
    line-height: 20px;
    padding: 10px;
  }

  .container_block__item span {
    margin-left: 10px;
  }

  .container_block__item img {
    height: 100%;
  }

  .Contacts {
    top: -400%;
  }

  .container_block__items{
    margin-top: 10px;
  }

  .container_block__item {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    padding: 7px;
  }

  a.container_block__item:hover{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
  }

  a.container_block__item:active{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  }

  .container_block__item img {
    height: 100%;
  }
}
